DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=skyfree
DB_USERNAME=skyfree
DB_PASSWORD=skyfree_dev_password

DB_BUDGET_CONNECTION=pgsql
DB_BUDGET_HOST=127.0.0.1
DB_BUDGET_PORT=5433
DB_BUDGET_DATABASE=skyfree_budget
DB_BUDGET_USERNAME=skyfree
DB_BUDGET_PASSWORD=skyfree_dev_password
DB_BUDGET_SEARCH_PATH=public

DB_SECOND_CONNECTION=pgsql
DB_SECOND_HOST=127.0.0.1
DB_SECOND_PORT=5433
DB_SECOND_DATABASE=skyfree_personal
DB_SECOND_USERNAME=skyfree
DB_SECOND_PASSWORD=skyfree_dev_password
DB_SECOND_SEARCH_PATH=public
