BACKEND_URL=http://backend:8000
IMPORT_AUTOMATION_TOKEN=pon-el-mismo-token-de-laravel

GMAIL_CREDENTIALS_PATH=/app/data/credentials.json
GMAIL_TOKEN_PATH=/app/data/token.json
GMAIL_DOWNLOAD_DIR=/app/data/downloads
STATE_PATH=/app/data/state.json

RUN_ON_START=true
CRON_SCHEDULE=*/30 * * * *
TIMEZONE=America/Bogota

CATALOG_ENABLED=false
CATALOG_QUERY=
CATALOG_ENDPOINT=/api/automation/import-catalog

INVENTORY_RULES_JSON=[]
INVENTORY_ENDPOINT=/api/v1/inventory/import-automation

RESUME_RULES_JSON=[]
RESUMES_ENDPOINT=/api/automation/import-cvs

RESUME_AUTO_ENABLED=true
RESUME_AUTO_QUERY=subject:(hoja de vida OR cv OR hv) has:attachment after:2026/09/16
RESUMES_AUTO_ENDPOINT=/api/automation/import-cvs/auto
GMAIL_MAX_RESULTS=25
